.textarea-custom {
  border: 1px solid var(--green-4);
  border-radius: 4px;
  background-color: var(--bg2);
  color: var(--txt-white);
}

.textarea-custom:hover {
  border-color: var(--green-3);
  background-color: var(--bg1);
  color: var(--txt-white);
}

.textarea-custom:focus {
  border-color: var(--green-2);
  outline: none;
  background-color: var(--bg1);
  box-shadow: 0 0 4px var(--green-2);
  color: var(--txt-white);
}

.textarea-custom:active {
  border-color: var(--green-5);
  background-color: var(--bg3);
  color: var(--txt-white);
}

.textarea-custom:disabled {
  border-color: var(--gray-4);
  background-color: var(--gray-2);
  cursor: not-allowed;
  opacity: 0.6;
  color: var(--txt-white);
}
