:root {
  --s0: 0px;
  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s5: 24px;
  --s6: 32px;
  --s7: 48px;
  --s8: 64px;

  --bg1: #1f2c34;
  --bg2: #131a22;
  --bg3: #0b1014;

  --txt-grey: #85939b;
  --txt-white: white;

  --grey-1: #85939b;

  --green-1: #05ab7f;
  --green-2: #039d68;
  --green-3: #027d4d;
  --green-4: #001c12;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  display: flex;
  place-items: center;
  min-width: 320px;
  flex-direction: column;
  flex: 1;
  } */
  
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--bg3);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

hr {
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.pointer {
  cursor: pointer;
}
.txt-grey {
  color: var(--txt-grey);
}

.txt-white {
  color: var(--txt-white);
}

.txt-green-1 {
  color: var(--green-1);
}
.txt-green-2 {
  color: var(--green-2);
}
.txt-green-3 {
  color: var(--green-3);
}
.txt-green-4 {
  color: var(--green-4);
}

.bg-green-1 {
  background-color: var(--green-1);
}

.bg-green-2 {
  background-color: var(--green-2);
}

.pl-1 {
  padding-left: var(--s1);
}

.txt-sm {
  font-size: 0.7rem;
}
